#cart {
  all: unset;
  z-index: 1001;

  border: none;
  background-color: $white;
  padding: 2rem 1.75rem;
  border-radius: .5rem;

  display: none;
  flex-direction: column;
  gap: 2rem;

  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  top: 7.5rem;

  overflow-y: auto;
  max-height: 25rem;

  @include mq(768px) {
    width: 23.563rem;
    left: unset;
    right: 2.5rem;
  }

  @include mq(1440px) {
    right: 10.313rem;
  }
}

#cart-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  justify-content: flex-start;
  align-items: flex-start;
}

#cart-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#close-cart-button:hover, #close-cart-button:active {
  filter: brightness(0) saturate(100%) invert(64%) sepia(85%) saturate(1385%) hue-rotate(327deg) brightness(90%) contrast(86%);
}

#close-cart-button {
  background: none;
}

#cart-title {
  font-size: 1.25rem;
  letter-spacing: 1.29px;
  color: $black;
}

#remove-all-button:hover, #remove-all-button:active {
  color: $burnt-orange;
}

#remove-all-button {
  letter-spacing: 0;
  text-decoration: underline;
  background: none;
  font-weight: normal;
  line-height: 1.5rem;
  color: $default-font-color;
}

// cart-products
#cart-products {
  display: grid;
  gap: 1.5rem;
}

.cart-product {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

//cart-product-details
.product-details-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-image {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: .5rem;
}

.cart-product-details h2 {
  font-size: 0.938rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}

.cart-product-details h3 {
  color: $default-font-color;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.cart-quantity-button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 6rem;
  height: 2rem;
  background-color: $light-gray;
}

.cart-quantity-button .decrement-button,
.cart-quantity-button .increment-button {
  color: $default-font-color;
}

.cart-quantity-button p {
  color: $black;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

// cart checkout
#cart-checkout {
  display: grid;
  gap: 1.5rem;
}

// cart checkout cart total
#cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cart-total h2 {
  font-weight: normal;
  color: $default-font-color;
  font-size: 1rem;
}

#cart-total h3 {
  font-size: 1.25rem;
  color: black;
}

#checkout-button {
  width: 100%;
}