/* hero section */
#hero-section {
  margin-top: 0;
  height: 31.5rem;
  background-color: #1c1c1c;
  padding-inline: 1.5rem;

  display: grid;
  place-content: center;

  @include mq(768px) {
    height: 39.625rem;
    padding-inline: 2.5rem;
  }

  @include mq(1440px) {
    padding-inline: 10.313rem;
    justify-content: start;
  }
}

.hero-image-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.hero-image {
  height: 37.5rem;
  object-fit: cover;

  @include mq(768px) {
    height: 45.563rem;
  }
}

#hero-content {
  color: white;

  position: relative;

  display: grid;
  gap: 1.75rem;
  text-align: center;
  place-items: center;

  animation: easeInBottom 1s forwards;
  
  @include mq(1440px) {
    text-align: left;
    place-items: start;

    animation: easeInLeft 1s forwards;
  }
}

#hero-content .hero-new {
  opacity: 50%;
}

#hero-text {
  display: grid;
  gap: 1rem;
  max-width: 23.688rem;
}

#hero-title {
  font-size: clamp(2.25rem, 10vw, 3.5rem);
  line-height: 1;
}

#hero-description {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  letter-spacing: 0;
  opacity: 50%;
  color: white;
}

/* main */
#main {
  padding: 2.5rem 1.5rem 7.5rem 1.5rem;
  display: grid;
  gap: 7.5rem;

  @include mq(768px) {
    padding: 6rem 2.5rem 6rem 2.5rem;
    gap: 6rem;
  }

  @include mq(1440px) {
    padding-top: 7.5rem;
    padding-bottom: 12.5rem;
    padding-inline: max(10.313rem, 11%);
    gap: 10.5rem;
  }
}

// see product section 
#see-product {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.zx9-content {
  text-align: center;
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  max-width: 21.813rem;

  animation-name: easeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @include mq(1440px) {
    text-align: left;
    justify-items: revert;
    min-width: 15rem;
    margin-right: 5.938rem;
  }
}

#see-product-zx9 {
  background: url("/assets/home/desktop/pattern-circles.svg");
  background-color: $burnt-orange;
  background-size: 34.875rem;
  background-repeat: no-repeat;
  padding-inline: 1rem;
  height: 37.5rem; 
  background-position-x: center;
  background-position-y: -7.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @include mq(768px) {
    gap: 4rem;
    height: 45rem;
    background-size: 59rem;
    background-position-y: -20rem; 
  }

  @include mq(1440px) {
    max-height: 35rem;
    background-position-x: -10rem;
    background-position-y: -2rem; 

    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
}

.zx9-see-product-img {
  width: 10.766rem;
  margin-top: 3.438rem;

  animation-name: easeInLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @include mq(768px) {
    max-width: 12.313rem;
    width: 100%;
  }

  @include mq(1440px) {
    max-width: 25.625rem;
    margin-top: 5rem;
    margin-left: 6rem;

    animation-name: easeInBottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

.zx9-title {
  color: white;
  font-size: 2.25rem; 
  letter-spacing: 1.29px;
  line-height: 2.5rem;

  @include mq(768px) {
    font-size: 3.5rem;
    line-height: 3.625rem;
    letter-spacing: 2px;
  }
}

.zx9-description {
  color: white;
  opacity: 75%;
}

.yx1-container {
  display: grid;
  gap: 1.5rem;

  @include mq(768px) {
    grid-template-columns: 1fr 1fr; 
  }
}

.zx7-see-product-image, .yx1-see-product-image {
  border-radius: .5rem;
  z-index: -1;
}

.zx7-see-product-image {
  animation: easeInLeft 1s forwards;
}

.yx1-see-product-image {
  animation: easeInRight 1s forwards;
}

.yx1-see-product-image {
  @include mq(768px) {
    animation: easeInBottom 1.5s forwards;
  }
}

.zx7-description, .yx1-description {
  display: grid;
  gap: 2rem;

  width: fit-content;
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
  left: 1.5rem;

  z-index: 1000;
}

.zx7-description {
  animation: easeIn 2s forwards;
  @include mq(768px) {
    left: 3.875rem;
  }
}

.yx1-description {
  animation: easeIn 2s forwards;
  @include mq(1440px) {
    left: 3.875rem;
  }
}

.zx7-title, .yx1-title {
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  letter-spacing: 2px;
  color: $black;
}

#see-product-yx1, #see-product-zx7 {
  position: relative;
}

.yx1-gray-background {
  background-color: $light-gray;
  border-radius: .5rem; 
  width: 100%;
  height: 12.5rem;
  position: relative;

  @include mq(768px) {
    height: 100%;
  } 
}

/* best audio section */

#best-audio-gear {
  display: grid;
  gap: 2.5rem;
  place-items: center; 

  grid-template-areas:
    'audio-img'
    'audio-desc';

  @include mq(1440px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'audio-desc audio-img';
    gap: 7.813rem;

    width: max(69.375rem, 60%);
    place-self: center;
  }
}

.best-audio-image {
  grid-area: audio-img;
  border-radius: .5rem;

  animation: easeInTop 1s forwards;

  @include mq(1440px) {
    animation: easeInRight 1s forwards;
  }
}

.best-audio-txt {
  grid-area: audio-desc;
  text-align: center; 
  display: grid;
  gap: 2rem; 

  animation: easeInBottom 1s forwards;

  @include mq(768px) {
    max-width: 35.813rem;
    text-align: center;
  }

  @include mq(1440px) {
    min-width: 27.813rem;
    width: 100%;
    text-align: left;

    animation: easeInLeft 1s forwards;
  }
}

.best-audio-title {
  font-size: 1.75rem;
  color: black;

  @include mq(768px) {
    font-size: 2.5rem;
  }
}