[data-animation], [data-animation-mobile], [data-animation-tablet], [data-animation-desktop] {
  opacity: 0;
}

// animation variants
.animate.ease-in-right {
  animation: easeInRight 1s forwards;
}

.animate.ease-in-top {
  animation: easeInTop 1s forwards;
}

.animate.ease-in-bottom {
  animation: easeInBottom 1s forwards;
}

.animate.ease-in {
  animation: easeIn 1s forwards;
}

.animate.ease-in-left {
  animation: easeInLeft 1s forwards;
}

.animate.ease-in-category {
  animation: easeInCategory 1s forwards;
}

@keyframes easeInRight {
  from {
    opacity: 0;
    transform: translateX(10%);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes easeInTop {
  from {
    opacity: 0;
    transform: translateY(-10%);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes easeInBottom {
  from {
    opacity: 0;
    transform: translateY(5%);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes easeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes easeInLeft {
  from {
    opacity: 0;
    transform: translateX(-10%);
  } to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes easeInCategory {
  from {
    opacity: 0;
    transform: translateY(50%);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}
