// basic button styling in _base.scss

// orange button
.orange-button:visited,
.orange-button {
  color: $white;
  width: 10rem;
  height: 3rem; 
  background-color: $burnt-orange;
}

.orange-button:hover, .orange-button:active {
  background-color: $tangerine;
  color: $white;
}


// zx9 button 
.zx9-button:visited {
  color: $white;
}
.zx9-button:hover, .zx9-button:active {
  background-color: #4c4c4c;
  color: $white;
}
.zx9-button {
  background-color: black;
  color: $white;
  width: 10rem;
  height: 3rem;
}

// zx7 and yx1 buttons 
.zx7-button:hover, .yx1-button:hover,
.zx7-button:active, .yx1-button:active
{
  background-color: $black;
  color: $white; 
}

.zx7-button, .yx1-button {
  background: none;
  width: 10rem;
  height: 3rem; 
  border: 1px solid $black;
  color: $black;
}

// category shop button
.category-shop-button:hover, .category-shop-button:active {
  color: $burnt-orange;

  .opacity-shop {
    opacity: 100%;
  }
}

.category-shop-button img {
  width: 0.313rem;
  height: 0.625rem;
}

.category-shop-button {
  background: none;
  display: flex;
  align-items: center;
  gap: 0.813rem;
}

// go back button
.go-back-link, .go-back-link:visited {
  color: $default-font-color;
  justify-self: flex-start;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
  letter-spacing: 0;
}

.header-button:hover, .header-button:active {
  filter: brightness(0) saturate(100%) invert(64%) sepia(85%) saturate(1385%) hue-rotate(327deg) brightness(90%) contrast(86%);
}

.header-button {
  width: fit-content;
  background: none;
  display: revert;
}

// cart buttons
.product-add-cart-buttons {
  max-height: 3rem;
  display: flex;
  gap: 1rem;
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 7.5rem;

  background-color: $light-gray;
  gap: 1.25rem;
}

.quantity-button p {
  color: black;
  font-weight: bold;
  font-size: 0.875rem;
}

.quantity-button > button {
  opacity: 25%;
}

.decrement-button {
  width: 100%;
  height: 100%;
}

.increment-button {
  width: 100%;
  height: 100%;
}

// cart modal buttons
#close-cart-button:hover, #close-cart-button:active {
  filter: brightness(0) saturate(100%) invert(64%) sepia(85%) saturate(1385%) hue-rotate(327deg) brightness(90%) contrast(86%);
}

#close-cart-button {
  background: none;
}

#remove-all-button:hover, #remove-all-button:active {
  color: $burnt-orange;
}

#remove-all-button {
  letter-spacing: 0;
  text-decoration: underline;
  background: none;
  font-weight: normal;
  line-height: 1.5rem;
  color: $default-font-color;
}

.cart-quantity-button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 6rem;
  height: 2rem;
  background-color: $light-gray;
}

.cart-quantity-button .decrement-button,
.cart-quantity-button .increment-button {
  color: $default-font-color;
}

.cart-quantity-button p {
  color: $black;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

#checkout-button {
  width: 100%;
}

// confirmation modal buttons 
#back-to-home-button {
  width: 100%;
}